.addteams-wrapper {
  display: block;
  margin: 0 auto;
  padding: .35em 0 .35em .35em;
}
.input--team-name,
.input--player-name,
.button--create-team {
  -webkit-appearance: none; /* remove inner shadow on mobile chrome */
  width: 90%;
  margin: .25em auto .25em 10%; /* Added left margin to have 100% with width */
  padding: .5em 2em;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.input--team-name,
.input--player-name {
  background: rgba(0,0,0,0.11);
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  border: 0;
  outline: 0;
}

.button--create-team {
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  background: #fff;
  color: #554C9D;
  transition: all .1s ease-in;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.28);
}
.button--start-game {
  cursor: pointer;
  position: fixed;
  bottom: 2em;
  left: 0;
  right: 0;
  width: 70%;
  padding: .75em;
  margin: .35em auto;
  font-size: 1em;
  font-weight: 600;
  border: 0;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.28);
  color: #554C9D;
  transition: all .1s ease-in;
}

.button--start-game.button--home {
  margin-top: 15%;
  width: 80%;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


/*
  More height than iPhone 4
 */
@media all and (min-height:540px) {
  .addteams-wrapper {
  }
  .input--team-name,
  .input--player-name {
    padding: .65em 2em;
    font-size: 1.15em;
    letter-spacing: 0px;
  }

  .button--create-team,
  .button--start-game {
    padding: .75em 2em;
  }
}


/*
  Desktops and tablets
*/
@media all and (min-width: 760px) {
  .addteams-wrapper {
    margin: 0 auto;
    padding: .35em;
  }
  .input--team-name,
  .input--player-name,
  .button--create-team {
    width: 100%;
    margin: .25em auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .button--start-game {
    max-width: 45%;
  }
}
