.addTeams {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.addTeams__input {
  width: 90%;
  background: rgba(0,0,0,0.11);
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: .25em auto;
  padding: .5em 2em;
  border: 0;
  border-radius: 100px;
  outline: 0;
  -webkit-appearance: none; /* remove inner shadow on mobile chrome */
}
.btn {
  cursor: pointer;
  display: block;
  width: 60%;
  text-align: center;
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1em auto;
  padding: 1em;
  border: 0;
  border-radius: 100px;
  transition: all .15s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.btn__white {
  background: #fff;
  color: #0AA1C8;
}
.btn__primary {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
}
.btn__add {
  position: relative;
  border-radius: 100px;
  margin: .25em auto 5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


/*
  More height than iPhone 4
 */
@media all and (min-height:540px) {
  .addTeams__input {
    padding: .65em 2em;
    font-size: 1.15em;
    letter-spacing: 0px;
  }

  .btn {
    padding: 1.15em 2em;
  }
}


/*
  Desktops and tablets
*/
@media all and (min-width: 760px) {
  .addteams {
    margin: 0 auto;
    padding: .35em;
  }
  .addTeams__input {
    width: 100%;
    margin: .25em auto;
  }

  .btn {
    max-width: 45%;
  }
}
