.counterButton {
  width: 60px;
  height: 60px;
  padding: 10px;
  background: transparent;
  border:0;
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  margin: 0 20px 20px 20px;
  cursor: pointer;
  outline: none;
}
.counterButton:focus {
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.decrease {
  color: #d9392f;
}
.increase {
  color: #5fec2e;
}
