.buttons {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
}
.counterButton {
  cursor: pointer;
  background: transparent;
  border:0;
  font-size: 5em;
  padding: .5em;
  outline: 0;
}
.decrease {
  /*border: 5px solid #da5e56;
  background: #da5e56;*/
  /*box-shadow: .05em .05em .25em #731d1d;*/
}
.increase {
  /*border: 5px solid #5bd964;
  background: #5bd964;*/
  /*box-shadow: .05em .05em .25em #0d6714;*/
}
