.App {
  margin: 2rem auto 0 auto;
  text-align: center;
}
.word-wrapper {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}

.header {
  text-align: center;
}
.currentWord {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
}

.points,
.timeLeft {
  display: inline-block;
  padding: .25em 1em;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
}

.pointsButtonContainer {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
}


.pointsButton {
  cursor: pointer;
  border:0;
  font-size: 5em;
  padding: .5em;
  outline: 0;
  margin: 0 .25em;

  /* Remove blue highlight on mobile Chrome */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.increase {
  background: url(../img/incScore.svg);
  background-size: cover;
}
.decrease {
  background: url(../img/decScore.svg);
  background-size: cover;
}
