.who-is-next {
  padding: 1em;
  text-align: center;
}

.row {
  padding: .25em;
  border-radius: .35em;
  font-weight: 100;
}
.row span {
  display: block;
}
.row:nth-child(odd) {
  background: rgba(255,255,255,.15);
}

@media all and (min-height: 540px){
  .row {
      padding: .5em;
      font-size: 1.25em;
  }
}
