.table {
  padding: 1em;
  text-align: center;
  color: #fff;
  max-height: 60vh;
  overflow-y:auto;

}
.row {
  position: relative;
  max-width: 60%;
  margin: .35em auto;
  padding: .25em;
  border-radius: 50px;
  font-size: 1.15em;
}

.row .row--title {
  padding: .25em;
  font-size: 2.5em;
  font-weight: bold;
  background: transparent;
}
.row:nth-child(odd) {
  background: rgba(255,255,255,.10);
}

.correct,.incorrect, .pts {
  font-size: 1em;
}
.correct {
  color: #fff;
}
.incorrect {
  color: #c3c3c3;
}

@media all and (min-height: 540px){
  .row {
      padding: .15em;
  }
}
