.who-is-next {
  position: relative;
  display: block;

}
.who-is-next__wrapper {
  min-height: 150px;
}
.who-is-next__balloon--1,
.who-is-next__balloon--2 {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255,255,255,.15);
}
.who-is-next__balloon--1 {
  top: 25%;
  left: 20%;
}
.who-is-next__balloon--2 {
  top: 75%;
  right: 20%;
}
.who-is-next__balloon--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row--title {
  padding: .25em;
  font-size: 2.5em;
  font-weight: bold;
  background: transparent;
}
.row:nth-child(odd) {
  background: rgba(255,255,255,.1);
}



@media all and (min-width: 520px) and (max-width: 719px){
  .who-is-next__balloon--1 {
    left: 30%;
  }
  .who-is-next__balloon--2 {
    right: 30%;
  }
}

@media all and (min-width: 720px){
  .who-is-next__balloon--1 {
    left: 32%;
  }
  .who-is-next__balloon--2 {
    right: 32%;
  }
}
