* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background: #0AA1C8;
  background-image: linear-gradient(46deg, #0DD0FA 0%, #0AA1C8 54%, #9B0078 100%);
  overflow: hidden;
  color: #fff;
  max-width: 720px;
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  /* Remove blue highlight on mobile when clicking on items */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button--menu {
  cursor: pointer;
  position: fixed;
  top: 1.5em;
  right: 1em;
  width: 75px;
  height: 50px;
  background: transparent;
  background-image: url("img/nav.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  border: 0;
}

.balloons {
  position: fixed;
  z-index: -3;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("./img/twocircles.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  opacity: .45;
}

.logo {
  display: block;
  margin: 2em auto;
  height: 50px;
  background-image: url("./img/logo.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: .35em auto;
}
.questionMark  {
  font-size: 1.75em;
  font-weight: bold;
}




@media all and (min-height:540px) {
  .balloons {
    height: 65%;
  }
  .logo {
    height: 100px;
  }
}
