@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  background: linear-gradient(-15deg, #6b1235, #f04f98);
  overflow: hidden;
}
